# MAVEN
target/
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# STS
.springBeans
.sts4-cache
.apt_generated
.classpath
.factorypath
.project
.settings

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ARQUIVOS SENSÍVEIS
application*.yml
application*.properties
*.env
.env
secrets/

# TEMPLATE (pode versionar)
!src/main/resources/application.yml.example