app:
  api:
    key: "SEGUR"

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/motoapp
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
        dialect: org.hibernate.dialect.MySQLDialect

  sql:
    init:
      mode: always

server:
  port: 8080

logging:
  level:
    org:
      hibernate: DEBUG
      springframework: INFO
mercadopago:
  access:
    token: "TEST_TOKEN"